@model GetClar.Models.MemberLogin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{

    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.MemberLogin_Username)
            </td>
            <td>:</td>
            <td>
                @Html.TextBoxFor(model => model.MemberLogin_Username)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.MemberLogin_Password)
            </td>
            <td>:</td>
            <td>
                @Html.TextBoxFor(Model => Model.MemberLogin_Password)
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <input type="submit" name="Login" value="Login" />
                @Html.ActionLink("Create Account", "Account")
            </td>
        </tr>
    </table>
}